{% for i in dhcp %}
set service dhcp-server shared-network-name {{ i }} subnet {{ dhcp[i]['subnet'] }} default-router {{ dhcp[i]['gateway'] }}
set service dhcp-server shared-network-name {{ i }} subnet {{ dhcp[i]['subnet'] }} lease 60
set service dhcp-server shared-network-name {{ i }} subnet {{ dhcp[i]['subnet'] }} name-server 8.8.8.8
set service dhcp-server shared-network-name {{ i }} subnet {{ dhcp[i]['subnet'] }} range 1 start {{ dhcp[i]['range']['start'] }}
set service dhcp-server shared-network-name {{ i }} subnet {{ dhcp[i]['subnet'] }} range 1 stop {{ dhcp[i]['range']['stop'] }}
{% endfor %}
